<!-- home.html -->


<div class="container" id="container">
		 	 <div class="row top">
                <div class="col-lg-2 col-md-8 col-sm-7 col-left">
                    <div class="name"><a href="#/all">Mundiri</a></div>
                </div>
               
            </div>
			
			


<div class="row bottom">

			<div class="col-lg-12 col-md-4 col-sm-5 col-right">
				<div id="scroll-shadow"></div>

				<h1 class="visible-xs section-header">Last work</h1>
				<h1 class="visible-xs text-center spacer">___</h1>

				
				
				<section class="row" id="Grid">
				<div class="container">
				<header>
					<h1>Freader</h1>
				</header>
					<form ng-submit="updateProduct()">							
						<span>Product Title : </span><input  type="text"  ng-model="product._source.product_title" placeholder="Product title"></br>
						<span>Product URL : </span><input  type="text"  ng-model="product._source.product_url" placeholder="Product url"></br>
						<span>Product Annotation/keyword : </span><input  type="textbox"  ng-model="product._source.product_annotation" placeholder="annotation"></br>
						<span>Product Category : </span><input  type="text"  ng-model="product._source..product_cat" placeholder="Product Category"></br>
						<span>Product Sub Category : </span><input  type="text"  ng-model="product._source.product_subcat" placeholder="Product Sub Category"></br>
						<a href="#/addProducts" class="btn">Cancel</a>
  						<button  class="btn btn-primary">Save</button>												
					</form>
					<a href="#/addProducts">Go back to product listing</a>			
					
			</div>
				</section>


			</div>
		</div>
</div>	
	