<div class="container" id="container">
		 	 <div class="row top">
                <div class="col-lg-2 col-md-8 col-sm-7 col-left">
                    <div class="name"><a href="#/all">Mundiri</a></div>
                </div>
               
            </div>

		<div class="row bottom">

			<div class="col-lg-12 col-md-4 col-sm-5 col-right">
				<div id="scroll-shadow"></div>

				<h1 class="visible-xs section-header">Last work</h1>
				<h1 class="visible-xs text-center spacer">___</h1>

				
				
				<section class="row" id="Grid">
					<form ng-submit="searchProducts()" class="feedAddForm">
					Search for Products :
						<input type="text"  placeholder="search products here" ng-model="searchText" required>							
						<button type="submit" class="btn btn-primary">Search Products</button>			
					</form>
					
					<table>
					  <thead>
					  <tr>
					    <th>Product Id</th>
					    <th>Product key word</th>
					    <th>Product Title</th>
					    <th>Product URL</th>
					    
					   
					  </tr>
					  </thead>
					  <tbody>
					  <tr ng-repeat="product in products">
					    <td>{{product._id}}</td>
					    <td><span>{{product._source.product_annotation}}</span></td>
					    <td><span>{{product._source.product_title}}</span></td>					    
					    <td><a href="{{product._source.product_url}}" target="_blank">{{product._source.product_url}}</a></td>
					   	<td><a ng-click="addProduct(product)"><i class="icon-plus-sign"></i></a></td>
					  </tr>
					  </tbody>
					</table>	
				<div>*********************************************************************</div>
						<span>Content URL : </span><input data-ng-model="content._source.contentURL" type="text" required />
						<span>Content Title : </span><input data-ng-model="content._source.contentTitle" type="text" required />
						
						
					<table>
					  <thead>
					  <tr>
					    <th>Product URL</th>
					    <th>Product Annotation</th>	
					    <th><a ng-click="addProduct(content)"><i class="icon-plus-sign"></i></a></th>				    					    
					  </tr>
					  </thead>
					  <tbody>
					  <tr ng-repeat="product in content._source.products">
					    <td>{{product.product_url}}</td>
					    <td><span>
					    <input data-ng-model="product.annotation" type="text" required /></span></td>					    
					    <td><a ng-click="removeProductFromContent(product)">Delete</a></td>
					  </tr>					  
					  </tbody>					  
					</table>
						<button ng-click="updateRecommendation()" class="btn btn-primary">Update</button>		
					  <button ng-click="removeRecommendation()" class="btn btn-primary">Remove</button>
					  <a href="#/addContent">Back to content list </a>
					  
				</section>
			</div>
		</div>
</div>	
	